/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* CSS */
body, html {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #213046;
}

/* Root Component */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

