$bg-color: #2C4160;
$menu-font: 'Inconsolata', monospace;
$menu-color: #C1BDBD;
$menu-color-bg: #496288;
$menu-font-size: 15px;
$menu-distance-between-links: 10px;


// 
// TopBarLink
// 
.TopBarLink-li {
    list-style: none;
    margin-left: $menu-distance-between-links;
    
    &:first-of-type {
        margin-left: 0px;
    }
    .TopBarLink-a {
        font-family: $menu-font;
        color: $menu-color;
        font-size: $menu-font-size;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: $menu-color-bg;
            border-radius: 5px;
        }
    }
}

// 
// Logo
// 

.LogoContainer {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: $menu-distance-between-links;

}


// 
// TopBar
// 
.TopBarContainer {
    height: 40px;
    background-color: $bg-color;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 99999;

    -webkit-box-shadow: 0px 7px 30px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 30px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 30px -14px rgba(0, 0, 0, 1);

    .TopBarUl {
        width:100%;
        height: auto;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        display: flex;
    }
}


